@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-gray: #808991ff;
  --black: #000000ff;
  --onyx: #393c40ff;
  --powder-blue: #afcdedff;
  --jordy-blue: #9dc7f2ff;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --slate-gray: #808991ff;
    --black: #000000ff;
    --onyx: #393c40ff;
    --powder-blue: #afcdedff;
    --jordy-blue: #9dc7f2ff;
  }
}

body {
  background: var(--white);
}
